__pycache__
.gitignore
node_modules
buildingsData
buildingsData/
/buildingsData/
/buildingsData
/CompleteSaves
userRasters
userRasters/
/userRasters/
/userRasters
MLData
MLData/
/MLData/
/MLData
*/migrations
FOV/settings.py