{% extends 'base/loggedBase.html' %}
{% load static %}

{% block files %}
<!-- <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' /> -->
<link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<!-- <script src= "https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js" ></script> -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js" ></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/map.css' %}">
<style>
	body { margin: 0; padding: 0; }
</style>
{% endblock %}


{% block content %}
<section class="logged-section pt-5">
    <button class="btn btn-primary neonButton calculate" onclick="show('areaForm')" >Calculate Area</button>
    <button class="btn btn-primary neonButton clearmap" onclick="clearLocationCalulation()" >Clear Map</button>
    
    <button class="btn btn-primary neonButton hotspot-btn" onclick="createHotspot()" >Mark Hotspot</button>
    <button class="btn btn-primary neonButton hotspot-save-btn" onclick="show('hotspotForm')" >save Hotspot</button>
    
    <div id="map"></div>
    
    
    <div class="container overlay areaForm">
        <div class="row my-5 wrapper mx-auto"  style="width: 30vw;">
            <form id = 'areaForm' class="mx-auto" style="width: 100%;">
                <div class="form-group">
                  <label for="area">Search area (meter square)</label>
                  <input type="number" class="form-control" id="area" name='area'  placeholder="Enter area m2" value="200">
                </div>
                <input type="text" name="lonlat" id="lonlat" hidden>
                <button type="button" class="btn btn-primary neonButton mx-1" onclick="tile_request()">Submit</button>
                <button type="button" class="btn btn-danger mx-1" onclick="hide('areaForm')">Close</button>
            </form>
        </div>
    </div>
    <div class="container overlay hotspotForm">
        <div class="row my-5 wrapper mx-auto"  style="width: 30vw;">
            <form id = 'hotspotForm' class="mx-auto" style="width: 100%;" enctype="multipart/form-data"  method="POST">
                <div class="form-group">
                  <label for="area">Name of Hotspot</label>
                  <input type="text" class="form-control" id="hotspotName" name='Name'  placeholder="e.g waterfall">
                </div>
                <div class="form-group">
                    <label for="area">Upload Image</label>
                    <input type="file" name="SpotImage" id="hotspotImage" accept="image/x-png,image/gif,image/jpeg">
                </div>
                <input type="text" name="Location" id="hotspotlonlat" hidden>
                <button type="submit" class="btn btn-primary neonButton mx-auto">Submit</button>
                <button type="button" class="btn btn-danger mx-auto" onclick="hide('areaForm')">Close</button>
            </form>
        </div>
    </div>
    
    <div class="container overlay-summary">
        <div class="row wrapper ">
            <h5 class="mx-auto text-nowrap font-weight-bold mb-3"> Flat area summary </h5>
            <div class="col-lg-12 ">
                <table class="" id='flatSurfaceSumary'>
                    <tr class="mb-2">
                        <td class="text-left font-weight-bold text-nowrap"># of Points</td>
                        <td class="text-right" id="pointsSummary">0</td>
                    </tr>
                    <tr class="mb-2">
                        <td class="text-left font-weight-bold text-nowrap">Fov Area</td>
                        <td class="text-right" id="fovAreaSummary">0 m2</td>
                    </tr>
                    <tr class="mb-2">
                        <td class="text-left font-weight-bold text-nowrap">Visibility</td>
                        <td class="text-right">100%</td>
                    </tr>
                    <tr class="mb-2">
                        <td class="text-left font-weight-bold text-nowrap">Flat surface area</td>
                        <td class="text-right" id="flatSurfaceSummary">0 m2</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container overlay-filters">
        <div class="row wrapper ">
            <h5 class="mx-auto text-nowrap font-weight-bold mb-3"> Flat area Filters </h5>
            <div class="col-lg-12 ">
                <table class="" id='flatSurfaceSumary'>
                    <tr class="mb-2">
                        <td class="text-left font-weight-bold text-nowrap">greater than</td>
                        <td class="text-right font-weight-bold text-nowrap">less than</td>
                    </tr>
                    <tr class="mb-2">
                        <td class="text-left"><input type="number" class="form-control" name="" id="distanceFieldGTE" style="width: 80px;
                            height: 25px;"> m</td>
                        <td class="text-right" id="fovAreaSummary"><input class="form-control" type="number" name="" id="distanceFieldLTE" style="width: 80px;
                            height: 25px;"> m</td>
                    </tr>
                    <tr class="mb-2">
                        <td class="text-left font-weight-bold text-nowrap">greater than</td>
                        <td class="text-right font-weight-bold text-nowrap">less than</td>
                    </tr>
                    <tr class="mb-2">
                        <td class="text-left"><input type="number" name="" id="heightFieldGTE" class="form-control" style="width: 80px;
                            height: 25px;" > m</td>
                        <td class="text-right" id="fovAreaSummary"><input type="number" class="form-control" name="" id="heightFieldLTE" style="width: 80px;
                            height: 25px;"> m</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container overlay-layers ">
        <div class="row wrapper d-flex ">
        <div class="col-auto d-flex align-items-center">
            <p class="mb-0 mx-1">hexagons</p>
            <input type="checkbox" class="mx-1" name="hexagonsLayer" id="hexagonsLayer" onclick="showlayer('HexaLayer')">
        </div>
        <div class="col-auto d-flex align-items-center">
            <p class="mb-0 mx-1">Flat Surfaces</p>
            <input type="checkbox" class="mx-1" name="flatSurfacesLayer" id="flatSurfacesLayer" onclick="showlayer('flatSurfaceLayer')">
        </div>
        </div>
    </div>
    <div class="container overlay-hotspot-info ">
        <div class="row wrapper hotspot-info-wrapper">
            <h4 class="text-center font-weight-bold w-100">Hotspot</h4>
            <div class="hotspot-close">
                <h5 onclick="closeHotspot();">X</h5>
            </div>
            <img src="" alt="" class="hotspot-img">
            <h5 class="text-left font-weight-bold w-100 mt-2"> Name </h5>
            <p class="text-left font-weight-bold w-100 hotspotName">xxxxxxxxx</p>
            <h5 class="text-left font-weight-bold w-100"> Location </h5>
            <p class="text-left font-weight-bold w-100 hotspotLocation">xxxxxxx</p>
            <!-- <h5 class="text-left font-weight-bold w-100"> Added by </h5>
            <p class="text-left font-weight-bold w-100 hotspotUser">xxxxxxxx</p> -->
        </div>
    </div>
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
</section>

{% endblock %}


{% block script %}
<script>
$.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' ,'Authorization':"Token {{request.session.key}}"}
});


alertify.set('notifier','position', 'top-center');
var markers01=[];
var lnglat=[];
var caluclateMarker;

function show(data){
    if(data === "areaForm"){
        if(lnglat.length < 1){
            alertify.error("No point is selected")
        }
        else{
            $(`.${data}`).show()
        }
    }
    if(data == "hotspotForm"){
        if(lnglat.length < 1){
            alertify.error("No point is selected")
        }
        else{
            $(`.${data}`).show()
        }
    }

}

function hide(data){
    $(`.${data}`).hide()

    if(data === "areaForm"){
        $('#areaForm')[0].reset();
    }
}



var currentMarkers;
mapboxgl.accessToken = 'pk.eyJ1IjoibW9ueWtpbmkxMTEiLCJhIjoiY2tmeWE2ZmZzMjMzczJwcGRreGt5ZHpzcSJ9.2fx-rNkpReTIWWzjGTJo_g';
    var map = new mapboxgl.Map({
        container: 'map',
        // style:        'mapbox://styles/monykini111/ckfzugdmf1ftk1alpt0whio6d',
        style: 'mapbox://styles/cosmoboiy/ckopwyuaf7mu818pl8if2b100',
        // [73.0501, 33.7077],
        center: [-73.97049764067823,40.76466662545835],
        zoom: 12,
        pitch: 45,
        bearing: -17.6,
        container: 'map',
        antialias: true
    });


function showMarker(e){
    if (currentMarkers) {
        currentMarkers.remove();
    }
    var marker = new mapboxgl.Marker({ "color": "{{request.session.profile.Marker_Color}}" })
    .setLngLat(e.lngLat)
    .addTo(map);
    lnglat = e.lngLat
    console.log(lnglat)
    currentMarkers = marker
}

map.on('click', showMarker);


function tile_request(){

    latlon = JSON.stringify([lnglat['lat'],lnglat['lng']])
    console.log($('#areaForm [name = area]').val())
    $('#areaForm [name = lonlat]').val(latlon)
    $(".loader-wrapper").show()
    $.ajax({
        type:"post",
        url: "{% url 'map' %}",
        data: $('#areaForm').serialize(),
        success: function(result){
            create_square(JSON.stringify(result.flatSurfaces).replace('\'','"'))
            create_hexas(JSON.stringify(result.Hexas).replace('\'','"'))
            hide('areaForm')
            alertify.success('Area calculated')
            if (caluclateMarker){
                caluclateMarker.remove();
            }
            caluclateMarker = new mapboxgl.Marker({ "color": "{{request.session.profile.Selected_Color}}" }).setLngLat([lnglat['lng'],lnglat['lat']]).addTo(map);
            $('.overlay-layers').show()
            map.off('click', showMarker);
            $(".loader-wrapper").hide()
            $(".overlay-summary").show()
            $(".overlay-layers").show()
            $(".overlay-filters").show()
            currentMarkers.remove();
            $(".calculate").hide();
            $(".hotspot-btn").hide()
            $(".clearmap").show();

        },
        error:function(data){
            alertify.error('We failed to get data please try again')
            $(".loader-wrapper").hide()
        }
    })

}
    map.addControl(
    new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl,
        marker:false,
        })
    );

map.on('load', function () {

    // Insert the layer beneath any symbol layer.
    var layers = map.getStyle().layers;

    var labelLayerId;
    for (var i = 0; i < layers.length; i++) {
        if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
            labelLayerId = layers[i].id;
            break;
        }
    }
    hotspotColor = "{{request.session.profile.Hotspot_Color}}"
    hotspotColor = hotspotColor.replace("#","")
    map.loadImage(
        `https://api.tiles.mapbox.com/v3/marker/pin-s+${hotspotColor}.png`,
        function (error, image) {
            if (error) throw error;
            map.addImage('custom-marker', image);}
    )
    map.addLayer(
        {
            'id': '3d-buildings',
            'source': 'composite',
            'source-layer': 'building',
            'filter': ['==', 'extrude', 'true'],
            'type': 'fill-extrusion',
            'minzoom': 15,
            'paint': {
                'fill-extrusion-color': '#aaa',

                // use an 'interpolate' expression to add a smooth transition effect to the
                // buildings as the user zooms in
                'fill-extrusion-height': [
                    'interpolate',
                    ['linear'],
                    ['zoom'],
                    15,
                    0,
                    15.05,
                    ['get', 'height']
                ],
                'fill-extrusion-base': [
                    'interpolate',
                    ['linear'],
                    ['zoom'],
                    15,
                    0,
                    15.05,
                    ['get', 'min_height']
                ],
                'fill-extrusion-opacity': 0.6
            }
        },
        labelLayerId
    );

    // "mapbox-terrain-dem-v1": {
    // "type": "raster-dem",
    // "url": "mapbox://mapbox.mapbox-terrain-dem-v1"
    // }    
    map.addSource('mapbox-dem', {
    'type': 'raster-dem',
    'url': 'mapbox://mapbox.mapbox-terrain-dem-v1',
    'tileSize': 512,
    'maxzoom': 14,
    });


    // // add the DEM source as a terrain layer with exaggerated height
    map.setTerrain({ 'source': 'mapbox-dem', 'exaggeration': 1.2 });
    
    // add a sky layer that will show when the map is highly pitched
    map.addLayer({
    'id': 'sky',
    'type': 'sky',
    'paint': {
    'sky-type': 'atmosphere',
    'sky-atmosphere-sun': [0.0, 0.0],
    'sky-atmosphere-sun-intensity': 15
    }
    });


    loadHostspotLayer();
    });


function create_hexas(data){

    if (map.getLayer("HexaLayer")) {
        
        map.removeLayer("HexaLayer");
    }
    if (map.getSource("HexaSource")) {

        map.removeSource("HexaSource");
    }

    map.addSource('HexaSource', {
    'type': 'geojson',
    'data':JSON.parse(data)
    });

    map.addLayer({
    'id': 'HexaLayer',
    'type': 'fill',
    'source': 'HexaSource',
    'paint': {
    'fill-color': '#ffffff',
    'fill-opacity': 0.4
    },
    'filter': ['==', '$type', 'Polygon']
    });
}


function create_square(data){
    if (map.getLayer("flatSurfaceLayer")) {

        map.removeLayer("flatSurfaceLayer");
    }
    if (map.getSource("flatSurfaceSource")) {

        map.removeSource("flatSurfaceSource");
    }
    map.addSource('flatSurfaceSource', {
    'type': 'geojson',
    'data':JSON.parse(data)
    });

    map.addLayer({
    'id': 'flatSurfaceLayer',
    'type': 'fill',
    'source': 'flatSurfaceSource',
    'paint': {
    'fill-color': '#3342FF',
    'fill-opacity': 1
    },
    'filter': ['==', '$type', 'Polygon']
    });
    map.on('click', 'flatSurfaceLayer', function (e) {
    // new mapboxgl.Popup()
    // .setLngLat(e.lngLat)
    // .setHTML("<p>average height: "+e.features[0].properties.fov+"</p>")
    // .addTo(map);
    if (map.getLayer("povLayer")) {
        
        map.removeLayer("povLayer");
    }
    if (map.getSource("povSorce")) {

        map.removeSource("povSorce");
    }
    if (map.getLayer("obsLayer")) {
        
        map.removeLayer("obsLayer");
    }
    if (map.getSource("obsSource")) {

        map.removeSource("obsSource");
    }      

    fovData = JSON.parse(e.features[0].properties.fov)
    console.log(fovData)
    map.addSource('povSorce', {
    'type': 'geojson',
    'data':JSON.parse(e.features[0].properties.fov)
    });
    map.addLayer({
        'id': 'povLayer',
        'type': 'fill',
        'source': 'povSorce',
        'paint': {
        'fill-color': '#800000',
        'fill-opacity': 0.6
        },
        'filter': ['==', '$type', 'Polygon']
    });

    map.addSource('obsSource', {
    'type': 'geojson',
    'data':JSON.parse(e.features[0].properties.obs)
    });
    map.addLayer({
        'id': 'obsLayer',
        // 'type': 'circle',
        'source': 'obsSource',
        'type': 'fill',
        'paint': {
        'fill-color': '#800888',
        'fill-opacity': 0.6
        },
        'filter': ['==', '$type', 'Polygon']
        // 'paint': {
        // make circles larger as the user zooms from z12 to z22
        // 'circle-radius': {
        // 'base': 1.75,
        // 'stops': [
        //     [12, 2],
        //     [22, 2]
        //     ]
        //     },
        // }

    });

    $('#fovAreaSummary').text((fovData.properties.fovArea).toFixed(2)+ 'm2');
    $('#pointsSummary').text(fovData.properties.numberOfPoints );
    $('#flatSurfaceSummary').text((fovData.properties.flatSurfaceArea).toFixed(2)+ 'm2');

    });

    // Change the cursor to a pointer when the mouse is over the states layer.
    map.on('mouseenter', 'flatSurfaceLayer', function () {
    map.getCanvas().style.cursor = 'pointer';
    });
    
    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'flatSurfaceLayer', function () {
    map.getCanvas().style.cursor = '';
    });

    

}

function clearLocationCalulation() {
    if (map.getLayer("HexaLayer")) {
        
        map.removeLayer("HexaLayer");
    }
    if (map.getSource("HexaSource")) {

        map.removeSource("HexaSource");
    }

    if (map.getLayer("flatSurfaceLayer")) {

    map.removeLayer("flatSurfaceLayer");
    }
    if (map.getSource("flatSurfaceSource")) {

    map.removeSource("flatSurfaceSource");
    }

    if (map.getLayer("povLayer")) {
        
        map.removeLayer("povLayer");
    }
    if (map.getSource("povSorce")) {

        map.removeSource("povSorce");
    }
    if (map.getLayer("obsLayer")) {
        
        map.removeLayer("obsLayer");
    }
    if (map.getSource("obsSource")) {

        map.removeSource("obsSource");
    } 
    caluclateMarker.remove();
    hexalayercheckbox = document.getElementById("hexagonsLayer")
    flatsurfacecheckbox = document.getElementById("flatSurfacesLayer")
    flatsurfacecheckbox.checked = true;
    hexalayercheckbox.checked = true;
    map.on('click', showMarker);
    $(".calculate").show();
    $(".clearmap").hide();
    $(".overlay-summary").hide()
    $(".overlay-layers").hide()
    $(".overlay-filters").hide()

}


// hotspot function


function loadHostspotLayer(){
    $.ajax({
        type:"get",
        url: "{% url 'listhotspots' %}",
        success:function(data){
            addhotspotLayer(data)
        },
        error:function(data){
            console.error("Markers can not be retrieved")
        }
    })
}

function addhotspotLayer(data){
    console.log(data)
    if (map.getLayer("hotspotLayer")) {
        
        map.removeLayer("hotspotLayer");
    }
    if (map.getSource("hotspotSource")) {

        map.removeSource("hotspotSource");
    }  

    map.addSource('hotspotSource', {
    'type': 'geojson',
    'data':data
    });

    map.addLayer({
    'id': 'hotspotLayer',
    'type': 'symbol',
    'source': 'hotspotSource',
    "minzoom": 9,
    'layout': {
        'icon-image': 'custom-marker',
        // get the title name from the source's "title" property
        'text-field': ['get', 'Name',],
        'text-font': [
        'Open Sans Semibold',
        'Arial Unicode MS Bold'
        ],
        'text-offset': [0, 0.2],
        'text-anchor': 'top'
    },
    paint: {
        "text-color": "#ffffff"
    }
    });

    map.on('click', 'hotspotLayer', function(e){
    // new mapboxgl.Popup()
    // .setLngLat(e.lngLat)
    // .setHTML(`<img src=${e.features[0].properties.SpotImage} alt="" height=200 width=200 >`)
    // .addTo(map);

    // console.log(e)
    name = e.features[0].properties.Name
    location_cords = `${(e.lngLat.lng).toFixed(3)} ${(e.lngLat.lat).toFixed(3)}`
    imgurl = e.features[0].properties.SpotImage
    $('.hotspotName').html(name)
    $('.hotspotLocation').html(location_cords)
    $('.hotspot-img').attr("src", imgurl);
    $('.overlay-hotspot-info').show()

    })
}

function closeHotspot(){
    $('.overlay-hotspot-info').hide()
}

function create_geojson(lat,lon){
   text = {"type": "Point","coordinates": [lon,lat]}

    return JSON.stringify(text)
}


$('#hotspotForm').submit(function(e){
        $('#hotspotlonlat').val(create_geojson(lnglat.lat,lnglat.lng))
        e.preventDefault();
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: "{% url 'createhotspots' %}",
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
                console.log(response)
            },
        });
    });

// function saveHotspot(){
//     $('#hotspotlonlat').val(create_geojson(lnglat.lat,lnglat.lng))
//     var formData = new FormData(document.querySelector('#hotspotForm'));
//     console.log(formData);
//     $.ajax({
//         method:"POST",
//         url: "{% url 'createhotspots' %}",
//         enctype: 'multipart/form-data',
//         processData: false,
//         contentType: false,
//         cache: false,
//         data:formData,
//         success:function(data){
//             loadHostspotLayer()
//         },
//         error:function (jqXhr, textStatus, errorThrown) {
//                 console.log('ERROR')
//                 console.log(jqXhr)
//             },
//     })
// }

function createHotspot(){
   $(".hotspot-save-btn").show()
   $(".hotspot-btn").hide()
   $(".calculate").hide()
   alertify.success("select a marker on map")
}


// layer checkbox ----------------------------------------------------------------

hexalayercheckbox = document.getElementById("hexagonsLayer")
flatsurfacecheckbox = document.getElementById("flatSurfacesLayer")
flatsurfacecheckbox.checked = true;
hexalayercheckbox.checked = true;


function showlayer(clickedLayer){
    if (event.srcElement.checked == false) {
        map.setLayoutProperty(
        clickedLayer,
        'visibility',
        'none'
        );
    } else {
        map.setLayoutProperty(
        clickedLayer,
        'visibility',
        'visible'
        );
    }
}


document.getElementById("distanceFieldLTE").addEventListener("input", addFilter);
document.getElementById("distanceFieldGTE").addEventListener("input", addFilter);
document.getElementById("heightFieldLTE").addEventListener("input", addFilter);
document.getElementById("heightFieldGTE").addEventListener("input", addFilter);

function addFilter(){
    element1=document.getElementById("distanceFieldLTE")
    element2=document.getElementById("distanceFieldGTE")
    element3=document.getElementById("heightFieldLTE")
    element4=document.getElementById("heightFieldGTE")
    value1 = element1.value
    value2 = element2.value
    value3 = element3.value
    value4 = element4.value
    filter = ["all",]
    if( value1 > 100){
        filter.push(['<=', ['get', 'distance'],  parseInt(value1)]);
    }
    if( value2 > 100){
        filter.push(['>=', ['get', 'distance'], parseInt(value2)]);
    }
    if( value3 > 0){
        filter.push(['<=', ['get', 'height'], parseInt(value3)]);
    }
    if( value4 > 0){
        filter.push(['>=', ['get', 'height'], parseInt(value4)]);
    }
    map.setFilter('flatSurfaceLayer',filter)
}


</script>
{% endblock %}

