

.mapboxgl-popup-content{
    background: black;
    color: white;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
    border-top-color: #040404;
}
.calculate{
position: fixed;
top: 0;
left: 0;
z-index: 9999;
}


.overlay{
    position: fixed;
    top: 15vh;
    min-height: 50vh;
    left: 20vw;
    width: 60vw;
    
}
.overlay-summary{
    position: fixed;
    top: 15vh;
    min-height: 50vh;
    right: 1vw;
    width: 250px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    background-color: #2f2f2f;
    color: #bbadd2;
    box-shadow: 5px 5px 20px;

}

.neonButton , .neonButton:focus{
    background: #2f2f2f;
    color: #bbadd2;
    border-color: #bbadd2;
    box-shadow: 0 0 0 0 rgb(38 143 255 / 50%);
}

.neonButton:hover{
    background: #bbadd2;
    color: #2f2f2f;
    border-color: #2f2f2f;
}
.neonButton:not(:disabled):not(.disabled):active{
    background: #bbadd2;
    color: #2f2f2f;
    border-color: #2f2f2f;
    box-shadow:None;
}
.wrapper{
    background-color: #2f2f2f;
    padding: 10px ;
    box-shadow: 5px 5px 20px;
    border-radius: 5px;
    color: #bbadd2;
}

.areaForm{
    display: None;
}
#flatSurfaceSumary{

}
#flatSurfaceSumary td{
 width: 200px;
 margin-bottom: 2px;
}
#flatSurfaceSumary tr{
    height: 4vh;
}