

{% extends 'base/loggedBase.html' %}
{% load static %}
{% block files %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.2.1/EQCSS.min.js"></script>
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="{% static 'css/settings.css' %}" rel="stylesheet" />
{% if request.session.profile.Color_Scheme == 'LM' %}
	<link href="{% static 'css/settings-light.css' %}" rel="stylesheet" />
{% else %}
	<link href="{% static 'css/settings.css' %}" rel="stylesheet" />
{% endif %}

{% endblock %}

{% block content %}




<div class="sidebar-container">
  <div class="sidebar-logo">
     Profile Settings
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Profile Settings</li>
    <li class="activesidebar">
      <a  id="userSetsLink">
        <i class="fa fa-user" aria-hidden="true"></i> 
        Profile Settings
      </a>
    </li>
    <li>
      <a  id="accessSetsLink">
        <i class="fa fa-universal-access" aria-hidden="true"></i>
        Accesibility
      </a>
    </li>
    <li class="header">User's Locations</li>
    <li>
      <a id="savedPointsLink">
        <i class="fa fa-location-arrow" aria-hidden="true"></i> Saved Points
      </a>
    </li>
    <li>
      <a >
        <i class="fa fa-info-circle" aria-hidden="true"></i> Help
      </a>
    </li>
  </ul>
</div>
<section id="profileSets" class="pt-5 row mx-0 align-items-center h-100 settings" style="min-height: 100vh;margin-left: 348px !important;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container content clear-fix">
				   <h2 class="mt-5 mb-5">Profile Settings</h2>
				   <div class="row" style="height:100%">
				      <div class="col-md-3">
				         <div href=# class="d-inline">
                    {% if ProfileData.ProfileImage %}
                    <img src="{{ProfileData.ProfileImage.url}}" width=130px height=130px style="margin:0;margin-left: 16px; border-radius:80px">
                    {% else %}
                    <img src="https://image.flaticon.com/icons/svg/236/236831.svg" width=130px height=130px style="margin:0;margin-left: 16px;border-radius:80px">
                    {% endif %}
				            <br>
                    <form action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <p class="pl-2 mt-2"><a href="#" class="btn" style="color:#8f9096;font-weight:600" onclick="clickImageInput();">Edit Picture</a></p>
                      <input type="file" name="myImage" id="myImage" accept="image/x-png,image/gif,image/jpeg" onChange="clickSubmit();" hidden/>
                      <button type="submit" name = "profileImage" id="profileImageButton" class="btn" hidden></button>
                    </form>
				         </div>
				      </div>
				      <div class="col-md-9">
				         <div class="container">
				            <form>
                      {% for field in ProfileForm %}
				               <div class="form-group">
				                  <label for=fullName>{{field.label}}</label>
				                  {{field}}
				               </div>
                       {% endfor %}
				               <div class="row mt-5">
				                  <div class="col">
				                     <button type="button" class="btn btn-primary btn-block">Save Changes</button>
				                  </div>

				               </div>
				            </form>
				         </div>
				      </div>
				   </div>
				</div>
				</div>
				</div>
            </div>
        </div>
    </div>
</section>

<section id="accessSets" class="pt-5 row mx-0 align-items-center h-100 settings" style="min-height: 100vh;margin-left: 348px !important;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container content clear-fix">
				   <h2 class="mt-5 mb-5">Accessibility Settings</h2>
				   <div class="row" style="height:100%">
				      <div class="col-md-9">
				         <div class="container">
				            <form id="accessibility" method="post">
                      {% csrf_token %}
                      {% for field in AccessForm %}
                      <div class="form-group">
                      <label for=fontsize>{{field.label}}</label>
                      {{field}}
                      {% endfor %}
				               <div class="row mt-5">
				                  <div class="col">
				                     <button type="submit" name="accessibility" class="btn btn-primary btn-block">Save Changes</button>
				                  </div>
				               </div>
				            </form>
				         </div>
				      </div>
				   </div>
				</div>
				</div>
				</div>
            </div>
        </div>
    </div>
</section>

<section id="savedPoints" class="pt-5 row mx-0 align-items-center h-100 settings" style="min-height: 100vh;margin-left: 348px !important;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container content clear-fix">
				   <h2 class="mt-5 mb-5">Saved Hot Spots</h2>
				   <div class="row" style="height:100%">
				      <div class="col-md-9">
				         <div class="container hot-spot-container">
				      		<table data-table id='hotspots-table'>
							  <thead>
							    <tr>
							      <th>Name</th>
							      <th>Added</th>
							      <th>Actions</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr id="unique_id_1">
							      <td>Faysal Masjid</td>
							      <td>6/14/2020</td>
							      <td>
							        <a href="#" onclick="view('unique_id_1')" data-caption="View"><i class="ion-eye"></i></a>
							        <a href="#" onclick="edit('unique_id_1')" data-caption="Edit"><i class="ion-edit"></i></a>
							        <a href="#" data-delete data-caption="Delete"><i class="ion-close"></i></a>
							      </td>
							    </tr>
							    <tr id="unique_id_2">
							      <td>Centarus</td>
							      <td>6/13/2020</td>
							      <td>
							        <a href="#" onclick="view('unique_id_2')" data-caption="View"><i class="ion-eye"></i></a>
							        <a href="#" onclick="edit('unique_id_2')" data-caption="Edit"><i class="ion-edit"></i></a>
							        <a href="#" onclick="duplicate('unique_id_2')" data-caption="Duplicate"><i class="ion-ios-copy"></i></a>
							        <a href="#" data-delete data-caption="Delete"><i class="ion-close"></i></a>
							      </td>
							    </tr>
							    <tr id="unique_id_3">
							      <td>John Cena Town</td>
							      <td>4/28/2020</td>
							      <td>
							        <a href="#" onclick="view('unique_id_3')" data-caption="View"><i class="ion-eye"></i></a>
							        <a href="#" onclick="edit('unique_id_3')" data-caption="Edit"><i class="ion-edit"></i></a>
							        <a href="#" onclick="duplicate('unique_id_3')" data-caption="Duplicate"><i class="ion-ios-copy"></i></a>
							        <a href="#" data-delete data-caption="Delete"><i class="ion-close"></i></a>
							      </td>
							    </tr>
							    <tr id="unique_id_3">
							      <td>Sadiqabad</td>
							      <td>4/69/2020</td>
							      <td>
							        <a href="#" onclick="view('unique_id_3')" data-caption="View"><i class="ion-eye"></i></a>
							        <a href="#" onclick="edit('unique_id_3')" data-caption="Edit"><i class="ion-edit"></i></a>
							        <a href="#" onclick="duplicate('unique_id_3')" data-caption="Duplicate"><i class="ion-ios-copy"></i></a>
							        <a href="#" data-delete data-caption="Delete"><i class="ion-close"></i></a>
							      </td>
							    </tr>
							  </tbody>
							</table>
				         </div>
				      </div>
				   </div>
				</div>
				<div class="container content clear-fix">
					<h2 class="mt-5 mb-5">Saved Locations</h2>
					<div class="row" style="height:100%">
					   <div class="col-md-9">
						  <div class="container hot-spot-container">
							   <table data-table id='locations-table'>
							   <thead>
								 <tr>
								   <th>Name</th>
								   <th>Added</th>
								   <th>Actions</th>
								 </tr>
							   </thead>
							   <tbody>
								 <tr id="unique_id_1">
								   <td>Faysal Masjid</td>
								   <td>6/14/2020</td>
								   <td>
									 <a href="#" onclick="view('unique_id_1')" data-caption="View"><i class="ion-eye"></i></a>
									 <a href="#" onclick="edit('unique_id_1')" data-caption="Edit"><i class="ion-edit"></i></a>
									 <a href="#" data-delete data-caption="Delete"><i class="ion-close"></i></a>
								   </td>
								 </tr>
								 <tr id="unique_id_2">
								   <td>Centarus</td>
								   <td>6/13/2020</td>
								   <td>
									 <a href="#" onclick="view('unique_id_2')" data-caption="View"><i class="ion-eye"></i></a>
									 <a href="#" onclick="edit('unique_id_2')" data-caption="Edit"><i class="ion-edit"></i></a>
									 <a href="#" onclick="duplicate('unique_id_2')" data-caption="Duplicate"><i class="ion-ios-copy"></i></a>
									 <a href="#" data-delete data-caption="Delete"><i class="ion-close"></i></a>
								   </td>
								 </tr>
								 <tr id="unique_id_3">
								   <td>John Cena Town</td>
								   <td>4/28/2020</td>
								   <td>
									 <a href="#" onclick="view('unique_id_3')" data-caption="View"><i class="ion-eye"></i></a>
									 <a href="#" onclick="edit('unique_id_3')" data-caption="Edit"><i class="ion-edit"></i></a>
									 <a href="#" onclick="duplicate('unique_id_3')" data-caption="Duplicate"><i class="ion-ios-copy"></i></a>
									 <a href="#" data-delete data-caption="Delete"><i class="ion-close"></i></a>
								   </td>
								 </tr>
								 <tr id="unique_id_3">
								   <td>Sadiqabad</td>
								   <td>4/69/2020</td>
								   <td>
									 <a href="#" onclick="view('unique_id_3')" data-caption="View"><i class="ion-eye"></i></a>
									 <a href="#" onclick="edit('unique_id_3')" data-caption="Edit"><i class="ion-edit"></i></a>
									 <a href="#" onclick="duplicate('unique_id_3')" data-caption="Duplicate"><i class="ion-ios-copy"></i></a>
									 <a href="#" data-delete data-caption="Delete"><i class="ion-close"></i></a>
								   </td>
								 </tr>
							   </tbody>
							 </table>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="hotspot-edit-overlay justify-content-center align-items-center">
					<div class="hotspot-edit">
						<form  id="hotspot-form" enctype="multipart/form-data" >
							<label for=""> Name </label>
							<input type="text" class="form-control" id="Name" name='Name'  placeholder="e.g waterfall">
							<label for=""> Image </label>
							<input type="file" name="SpotImage" id="hotspotImage" accept="image/x-png,image/gif,image/jpeg">
							<div class="d-flex flex-wrap justify-content-center mt-3">
								<button class="btn btn-primary neonButton mx-1" id="hotspot-update">Update</button>
								<button class="btn btn-danger mx-1" onclick="hideHotspotEdit()">Cancel</button>
							</div>
						</form>
					</div>
				 </div>
				</div>
				</div>
            </div>
        </div>
    </div>


</section>
{% block script %}

<script type="text/javascript">




  jQuery(".settings").css('display','none');
  jQuery("#profileSets").css('display','block');
	
	var fontSize =  parseInt('{{ request.session.profile.Font_Size }}') ;
    var fontStyle =  parseInt('{{ request.session.profile.Font_Family }}') ;
    var fam = "Arial";
    $("#elem").css({
	    fontSize: fontSize
	});
	if(fontStyle == 1){
	    fam = "fantasy"
	}else if(fontStyle == 2){
	    fam = "system-ui"
	}else if(fontStyle == 3){
	    fam = "cursive"
	}else if(fontStyle == 4){
	    fam = "Helvatica"
	}

	if(fam == "Arial" || fam == "Helvatica"){
	    WebFont.load({
	        google: {
	          families: ['Droid Sans', 'Droid Serif']
	        }
	    });
	}

	$("*").css({
	    fontFamily: fam
	});

	$("i").css({
	    fontFamily: 'FontAwesome'
	});

	const jbd = jQuery(document);



	jbd.on('click','#userSetsLink',function(){
		jbd.find('.activesidebar').removeClass('activesidebar');
		jQuery(".settings").css('display','none');
		jQuery("#profileSets").css('display','block');
		jQuery(this).parent().addClass('activesidebar');
	})

	jbd.on('click','#accessSetsLink',function(){
		jbd.find('.activesidebar').removeClass('activesidebar');
		jQuery(".settings").css('display','none');
		jQuery("#accessSets").css('display','block');
		jQuery(this).parent().addClass('activesidebar');
	})

	jbd.on('click','#savedPointsLink',function(){
		jbd.find('.activesidebar').removeClass('activesidebar');
		jQuery(".settings").css('display','none');
		jQuery("#savedPoints").css('display','block');
		jQuery(this).parent().addClass('activesidebar');
	})

	$(document).ready(function() {
	    $('.js-example-basic-single').select2({
	    	placeholder: 'Select A Font Size'
	    });
	});



	// Table Button Demo Functionality
	// scanButtons();
	// function scanButtons() {
	//   var buttons = document.querySelectorAll('[data-delete]');
	//   for (i=0;i<buttons.length;i++){
	//     buttons[i].addEventListener('click',remove);
	//   }
	// }
	function view(id){
	  location.href = '{% url "mapwithhotspot" hotspotID=1 %}'.replace("1",id)
	}
	function edit(id){
		$.ajax({
			url:"{% url 'retrievehotspots' id=1%}".replace("1",id),
			type:"GET",
			beforeSend: function(request) {
        		request.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
        		request.setRequestHeader('Authorization',"Token {{request.session.key}}");
      		},
			success:function(data){
			$(".hotspot-edit-overlay").css("display","flex")
			// console.log(data.properties.Name)
			$("#Name").val(data.properties.Name)
			document.getElementById("hotspot-update").addEventListener('click', function(){
				update(id);
			});
        	// console.log(data)

			},
			error:function(data){
				// console.log(data)
			}
		})


	}

	function update(id){
        var formData = new FormData($("#hotspot-form")[0]);
        for (var value of formData.values()) {
		   console.log(value);
		}
		$.ajax({
			url:"{% url 'updatehotspots' id=1%}".replace("1",id),
			method:"PUT",
			data: formData,
            cache: false,
            contentType: false,
            processData: false,
			beforeSend: function(request) {
				request.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
				request.setRequestHeader('Authorization',"Token {{request.session.key}}");
			},
			data:formData,
			success: function(data){
				// console.log(data)
			},
			error: function(data){
				// console.log(data)
			}

		})
	}
	function remove(id){
	  // Remove the newsletter from the backend somewhere around here
    $(`#hotspot-${id}`).remove();
    		deleteHotspot(id)
	}

  $.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' ,'Authorization':"Token {{request.session.key}}"}
  });


  loadHotspots()


  
function hideHotspotEdit(){
	$(".hotspot-edit-overlay").hide()
	$("#hotspot-form input").val('')
}
  

  function loadHotspots(){
    $.ajax({
      url:"{% url 'listuserhotspots' %}",
      method:"GET",
      success:createHotspotsTable,
      error: function(data){
        console.log(data)
      }
    })
  }

  function createHotspotsTable(data){
    // hotspots-table
    features = data.features
    text = ""
    for (i=0 ; i<features.length ; i++){
      console.log(features[i])
      id = features[i].id
      properties = features[i].properties
      latlon = features[i].geometry.coordinates
      text += `<tr id="hotspot-${id}">
                <td>${properties.Name}</td>
                <td>${properties.Created}</td>
                <td>
                  <a onclick="view(${id})" data-caption="View"><i class="ion-eye"></i></a>
                  <a onclick="edit(${id})" data-caption="Edit"><i class="ion-edit"></i></a>
                  <a data-delete data-caption="Delete" onclick="remove(${id})"><i class="ion-close"></i></a>
                </td>
							</tr>
                  `
    }
    $("#hotspots-table tbody").html(text)

  }

  loadLocations()

  function loadLocations(){
    $.ajax({
      url:"{% url 'listuserfov' %}",
      method:"GET",
      success:locationsTable,
      error: function(data){
        console.log(data)
      }
    })
  }


  function locationsTable(data){
    // hotspots-table
    features = data.features
    text = ""
    for (i=0 ; i<features.length ; i++){
      console.log(features[i])
      id = features[i].id
      properties = features[i].properties
      latlon = features[i].geometry.coordinates
      text += `<tr id="location-${id}">
                <td>${properties.name}</td>
                <td>${properties.created_on}</td>
                <td>
                  <a href="#" onclick="locationview(${id})" data-caption="View"><i class="ion-eye"></i></a>
                  <a href="#" data-delete data-caption="Delete" onclick="locationremove(${id})"><i class="ion-close"></i></a>
                </td>
							</tr>
                  `
    }
    $("#locations-table tbody").html(text)

  }

  function locationview(id){
	  location.href = '{% url "mapwithlocation" locationID=1 %}'.replace("1",id)
	}
	function locationremove(id){
	  // Remove the newsletter from the backend somewhere around here
    $(`#location-${id}`).remove();
    deletelocation(id)
	}




  function clickSubmit(){
    document.getElementById("profileImageButton").click()
  }

  function clickImageInput(){
    document.getElementById("myImage").click()
  }

  

  function deleteHotspot(id){
    $.ajax({
      // type:"post",
      method:'DELETE',
      beforeSend: function(request) {
        request.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
        request.setRequestHeader('Authorization',"Token {{request.session.key}}");
      },
      url: "{% url 'deletehotspots' id=1 %}".replace("1",id),
      success:function(data){
          alertify.success("Hotspot deleted")
      },
      error:function (jqXhr, textStatus, errorThrown) {
                console.log('ERROR')
                console.log(jqXhr)
            }
    })
  }

  function deletelocation(id){
    $.ajax({
      // type:"post",
      method:'DELETE',
      beforeSend: function(request) {
        request.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
        request.setRequestHeader('Authorization',"Token {{request.session.key}}");
      },
      url: "{% url 'deletefov' id=1 %}".replace("1",id),
      success:function(data){
          alertify.success("Location deleted")
      },
      error:function (jqXhr, textStatus, errorThrown) {
                console.log('ERROR')
                console.log(jqXhr)
            }
    })
  }


</script>

{% endblock %}


{% endblock %}